.App {
  text-align: center;
  background-color: #494D5F;
  text-decoration: underline;
  text-decoration-color: #d0bdf4;
}

.followers-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


.follower-card {
  width: 110px;
  margin: 16px 32px;
  padding: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color:#8458B3;
}

.follower-card > img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}